/* Import Dosis Typeface */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap');

:root {
    /* color */
    --baseDark: #E3C88A;
    --base: #E4B55C;
    --baseLight: #E9D5A9;
    --accent-11: #000;
    --accent-10: #504D55;
    --accent-9: #362F38;
    --accent-8: #3F3F42;
    --accent-7: #484848;
    --accent-6: #5B5B5B;
    --accent-5: #6F6F6F;
    --accent-4: #C7C7C7;
    --accent-3: #DBDBDB;
    --accent-2: #EBEBEB;
    --accent-1: #F8F8F8;
    --accent-0: #fff;
    /* typeface weight's */
    --extrabold: 800;
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --light: 300;
    /* pixels to rem */
    --px64: 4rem;
    --px48: 3rem;
    --px36: 2.25em;
    --px32: 2rem;
    --px24: 1.5rem;
    --px18: 1.125rem;
    --px16: 1rem;
    --px12: 0.750rem;
    /* typefaces */
    --poppins: Poppins, sans-serif;
    --opens-sans: "Open Sans", sans-serif;
    /* transition */
    --transition: all 0.2s ease-out;
}

/* general */

* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.015rem;
    font-family: 'Dosis', sans-serif;
}
body{
    overflow-x: hidden;
    position: relative;
    background: var(--accent-1);
}

ul {
    margin: 0;
    padding: 0;
    align-items: center;
}

li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
}

input, button {
    border: none;
    outline: none;
}

label {
    font-size: var(--px16);
}

/* scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--accent-1); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent-5); 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent-6); 
  }

.hide{
    opacity: 0 !important;
    display: none;
}
.nav__focus{
    opacity: 1 !important;
    display: block !important;
}
.nav__filter{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 10;
}

.button{
    display: inline-block;
    color: var(--accent-0);
    background-color: var(--base);
    border-radius: var(--px12);
    font-weight: var(--semibold);
    font-size: var(--px24);
    transition: var(--transition);
}
.button:hover{
    color: var(--accent-2);
    background-color: var(--baseDark);
}
.button:active{
    color: var(--accent-2);
    background-color: var(--baseLight);
    transform: translateY(0);
}
/* --- */

/* header */

.header{
    position: absolute;
    z-index: 1;
    top: 0;
    height: 80px;
    width: 100vw;
    background: none;
    display: flex;
    align-items: center;
}

.header__menu{
    display: flex;
    align-items: center;
}
.header__menu:hover .header__menu__text, .header__menu:hover .header__icon-bars{
    color: var(--accent-5);
}

.header__menu__text, .header__icon-bars{
    font-size: var(--px32);
    font-weight: var(--medium);
    margin-left: var(--px16);
    color: var(--accent-10);
}

.header__group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__logo{
    font-size: var(--px32);
    font-weight: var(--medium);
    color: var(--accent-0);
}
.header__logo:hover{
    color: var(--accent-0);
    cursor: pointer;
}

.header__search{
    display: flex;
    background: var(--accent-4);
    padding: 0.5rem;
    border-radius: 0.250rem;
}

.header__input{
    background: none;
    transition: var(--transition);
}
.header__input:focus-visible{
    padding-right: var(--px64);
}   

.header__icon-search{
    padding: 0 1rem 0 0.5rem;
    color: var(--accent-9);
}

.header__icon-search:hover{
    color: var(--accent-10);
    cursor: pointer;
}

/* --- */

/* navbar */
.nav{
    position: fixed;
    top: 5rem;
    width: 100%;
    height: auto;
    opacity: 0;
    background-color: white;
    transform: translateY(-20px);
    
    z-index: 1000;

    animation: slide-down 1s cubic-bezier(.15,1,.60,1) forwards;
}

.nav .container{
    display: flex;
}

@keyframes slide-down {
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar__list{
    width: auto;
    padding: 24px;
}
.navbar__list.-catalog, .navbar__list.-collections{
    column-count: 3;
    column-gap: 16px;
    height: 100%;
}
.navbar__list.-catalog .navbar__item, .navbar__list.-collections .navbar__item{
    padding: 0;
}

.navbar__catalog, .navbar__collections{
    display: none;
    position: absolute;
    margin-left: 25%;
}

.navbar__item{
    padding: 0.500rem 0;
}

.navbar__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--accent-10);
    font-size: var(--px24);
    font-weight: var(--regular);
}
.navbar__link:hover{
    color: var(--base)
}
.navbar__link:active{
    color:var(--baseLight)
}
.navbar__link__icon{
    opacity: 0.5;
    font-size: var(--px18);
}

/* --- */


/* media query */
/* sm */
@media (max-width: 767.98px) {
}

/* md */
@media (min-width: 768px) and (max-width: 1023px) {
    
}

/* lg */
@media (min-width: 1024px) {
    
}